
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    display: grid;
    place-items: center;
    min-height: 100vh;

}
.row{
    position: relative;
    display: flex;
    width: 65%;
    
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;

}
.a{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.b{
    background-color: hsl(184, 100%, 22%);
}
.c{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn1, .btn2, .btn3{
    width: 100px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 95%);
    height: 40px;
    font-size: 12px;
    border-style: solid;
    border-color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}
.a, .b, .c{
    display: grid;
    justify-content: center;
    padding: 3rem;
}
p{
    line-height: 25px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 1rem;

}
.btn1{
    color: hsl(31, 77%, 52%);
}
.btn2{
    color: hsl(184, 100%, 22%);
}
.btn3{
    color: hsl(179, 100%, 13%);
}
.btn1:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
}

.btn2:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
}

.btn3:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
}

h1, p{
    color: hsl(0, 0%, 95%);
}




@media screen and (max-width: 600px) {
    .row{
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    .a{
        border-radius: 10px 10px 0px 0px;
    }
    .c{
        border-radius: 0px 0px 10px 10px;
    }

    
}

